.Header {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    height: 50px;
    background-color: var(--primary-light);
}

.Title {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    left: 100px;
    z-index: 100;
}
